.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.PokemonCardBackground {
  background-color: #D7CAB8
  ;
  color: #685F4D;
  padding: 20px;
  margin: 10px;
  /* width: 50%; */
  text-align: center;
  border-radius: 20px;
  display: inline-block;
  width:100%;

}
.PokemonCardBackground2 {
  background-color: red
  ;
  color: #685F4D;
  padding: 20px;
  margin: 10px;
  /* width: 50%; */
  text-align: center;
  border-radius: 20px;
  display: inline-block;
}
.PokemonCardBackgroundLast {
  background-color: #c5b297
  ;
  color: #685F4D;
  padding: 20px;
  margin: 10px;
  /* width: 50%; */
  text-align: center;
  border-radius: 20px;
  display: inline-block;
  width:100%;
}
.Intro {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  vertical-align: auto;
}
.Info{
margin-top: 150px;
text-decoration: none;
color: #333333;


}

.SearchButton{
    background-color: #685F4D;
    color: #111111;
    border: 2px solid #111111;
    margin: 10px;

}
.hoverEff:hover {
  opacity: 80%;
  background-color: #685F4D;
  color: #555555;

}
.Background {
  height: 100vh;
  width: 100%;
  background-color: #685F4D;
  text-align: center;
  margin: 0;
  padding: 0;
overflow: hidden ;

}

.Header {
  text-align: center;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; // not neccesary */
 }